* {
    margin: 0;
    padding: 0;
    color: inherit;
    font: inherit;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}


.blind {
    /* display: none; */
    /* 리더기가 못 읽어 */
    /* 
    t-9999px,l-9999px ti-9999px 이것도 안돼 성능저하! */
    position: absolute;
    width: 1px; /* 0은 안됨 안읽음 */
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    margin: -1px;
}